.footer-header {
  color: #3b3c3c !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  line-height: 22px !important;
  font-family: "Open Sans", sans-serif;
}

.footer-a {
  color: #3b3c3c !important;
  font-family: "Open Sans", sans-serif;
  font-size: 12px !important;
  font-weight: 100 !important;
  line-height: 16px !important;
}

.footer-a:hover {
  color: #141414 !important;
  text-decoration: none !important;
  cursor: pointer;
}

.Main-footer {
  background: linear-gradient(180deg, #f2f3f7 30%, #ff7331);
  color: white;
}

.Module1-footer {
  background: linear-gradient(180deg, #f2f3f7, #ff7331);
  color: white;
}

.Module2-footer {
  background: linear-gradient(180deg, #f2f3f7, #d61f23);
  color: white;
}

.Module3-footer {
  background: linear-gradient(180deg, #f2f3f7, #c8d503);
  color: white;
}

.Module4-footer {
  background: linear-gradient(180deg, #f2f3f7, #77478f);
  color: white;
}

.Module5-footer {
  background: linear-gradient(180deg, #f2f3f7, #53739b);
  color: white;
}
