h5 {
  color: #f2f3f7;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
}

a {
  color: #e0e0e0 !important;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
}

a:hover {
  color: #89bff8 !important;
  text-decoration: none !important;
  cursor: pointer;
}

footer {
  background-color: rgb(25, 66, 124);
  color: white;
}
