.Module-note {
  color: #525252;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}

.Module-panel {
  width: 90%;
  border-radius: 23px;
  background: #f2f3f7;
}

.Module-text {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  text-align: center !important;
  padding-top: 9vh;
  background: #f2f3f7;
  color: transparent;
  text-shadow: 0px 1px 2px #d3d7e4, 0px -1px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.Module-text-active {
  color: #f2f3f7;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  text-align: center !important;
  padding-top: 9vh;
}

.Module-next-btn {
  color: #525252;
  font-family: "Open Sans", sans-serif;
  font-size: 23px;
  font-weight: 600;
  line-height: 33px;
  /*  */
  width: 300px;
  height: 69px;
  border-radius: 12px;
  border: none;
  background: #f2f3f7;
  box-shadow: 5px 3px 15px rgba(192, 197, 216, 0.45), -3px -3px 15px #ffffff,
    -5px -5px 24px rgba(254, 120, 57, 0.25);
}

.Module-next-qst-btn {
  color: #525252;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 33px;
  /*  */
  width: 150px;
  height: 50px;
  border-radius: 12px;
  border: none;
  background: #f2f3f7;
  box-shadow: 5px 3px 15px rgba(192, 197, 216, 0.45), -3px -3px 15px #ffffff,
    -5px -5px 24px rgba(254, 120, 57, 0.25);
}

.w-10 {
  /* width: 7%; */
  width: 85px;
}

button:disabled,
button[disabled] {
  color: transparent;
  text-shadow: 0px 1px 2px #d3d7e4, 0px -1px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.disable-btn {
  color: transparent;
  text-shadow: 0px 1px 2px #d3d7e4, 0px -1px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

/* ----------------------------------------------- */

/* Module 1 */

.Module1-text-active {
  text-shadow: -2px -2px 6px rgba(254, 118, 53, 0.23);
  color: #fe7635;
}

.Module1 {
  box-shadow: 5px 3px 15px rgba(192, 197, 216, 0.45), -3px -3px 15px #ffffff,
    -5px -5px 24px rgba(254, 120, 57, 0.25);
}

.SubModule1-panel {
  width: 900px;
  /* height: 80px; */
  border-radius: 23px;
  background: #f2f3f7;
  box-shadow: 5px 3px 15px rgba(192, 197, 216, 0.45), -3px -3px 15px #ffffff,
    -5px -5px 24px rgba(254, 120, 57, 0.25);
}

/* .Module1-ActiveSubStyle {
  box-shadow: inset 5px 5px 8px #c16442, inset -5px -5px 8px #ff9a64 !important;
  border-radius: 10px;
  cursor: pointer;
}

.Module1-NormalSubStyle {
  box-shadow: -5px -5px 8px #ff9a64, 5px 5px 8px #c16442 !important;
  border-radius: 10px;
  cursor: pointer;
}*/

.Module1-sub-panel {
  width: 100%;
  height: 60vh;
  border-radius: 19px;
  background: #f2f3f7;
  box-shadow: 5px 3px 15px rgba(192, 197, 216, 0.45), -3px -3px 15px #ffffff,
    -5px -5px 24px rgba(254, 120, 57, 0.25);
}

/* ----------------------------------------------- */

/* Module 2 */

.Module2-text-active {
  text-shadow: -2px -2px 6px rgba(254, 118, 53, 0.23);
  color: #d61f23;
}

.Module2 {
  box-shadow: 5px 3px 15px rgba(192, 197, 216, 0.45), -3px -3px 15px #ffffff,
    -5px -5px 24px rgba(214, 31, 35, 0.26);
}

.SubModule2-panel {
  width: 900px;
  /* height: 80px; */
  border-radius: 23px;
  background: #f2f3f7;
  box-shadow: 5px 3px 15px rgba(192, 197, 216, 0.45), -3px -3px 15px #ffffff,
    -5px -5px 24px rgba(214, 31, 35, 0.26);
}

/* .Module2-ActiveSubStyle {
  box-shadow: inset 5px 5px 8px #c16442, inset -5px -5px 8px #ff9a64 !important;
  border-radius: 10px;
  cursor: pointer;
}

.Module2-NormalSubStyle {
  box-shadow: -5px -5px 8px #ff9a64, 5px 5px 8px #c16442 !important;
  border-radius: 10px;
  cursor: pointer;
}*/

.Module2-sub-panel {
  width: 100%;
  height: 60vh;
  border-radius: 19px;
  background: #f2f3f7;
  box-shadow: 5px 3px 15px rgba(192, 197, 216, 0.45), -3px -3px 15px #ffffff,
    -5px -5px 24px rgba(214, 31, 35, 0.26);
}
