.module-text {
  text-shadow: 0px 1px 2px #d3d7e4, 0px -1px rgba(255, 255, 255, 0.5) !important;
  color: #f2f3f7;
  font-size: 28px;
  font-weight: 600;
  /* line-height: 48px; */
  line-height: 9vh;
  text-align: center;
  /* padding-top: 45px; */
  padding-top: 9vh;
  cursor: pointer;
}

.module-text-active {
  font-weight: 600;
  /* line-height: 48px; */
  line-height: 9vh;
  text-align: center;
  /* padding-top: 35px; */
  padding-top: 9vh;
  cursor: default;
  font-size: 32px;
}

.w-10 {
  /* width: 7%; */
  width: 85px;
}

/* ----------------------------------------------- */

/* Module 1 */

.Module1-bg-color {
  background-color: #f47f53 !important;
}

.Module1-text-active {
  text-shadow: -1px -1px 1px #fdba96, 1px 1px 1px rgba(88, 40, 22, 0.58) !important;
  color: #fc8657;
}

.Module1-panel {
  height: 100%;
  border-radius: 19px;
  background: linear-gradient(136deg, #ff8859, #f47f53) !important;
  box-shadow: -5px -5px 8px #ff9a64, 5px 5px 8px #c16442 !important;
}

.Module1-ActiveSubStyle {
  box-shadow: inset 5px 5px 8px #c16442, inset -5px -5px 8px #ff9a64 !important;
  border-radius: 10px;
}

.Module1-NormalSubStyle {
  box-shadow: -5px -5px 8px #ff9a64, 5px 5px 8px #c16442 !important;
  border-radius: 10px;
}

.Module1-sub-panel {
  width: 100% !important;
  height: 100% !important;
  border-radius: 19px;
  background: linear-gradient(136deg, #ff8859, #f47f53) !important;
  box-shadow: -5px -5px 8px #ff9a64, 5px 5px 8px #c16442 !important;
}

/* ----------------------------------------------- */

/* Module 2 */

.Module2-bg-color {
  background-color: #baa651 !important;
}

.Module2-text-active {
  text-shadow: -1px -1px 1px #baa651, 1px 1px 1px #938340 !important;
  color: #baa651;
}

.Module2-panel {
  height: 100vh;
  border-radius: 19px;
  background: linear-gradient(136deg, #c7b257, #a79549) !important;
  box-shadow: -5px -5px 8px #e1c962, 5px 5px 8px #938340 !important;
}

.Module2-ActiveSubStyle {
  box-shadow: inset 5px 5px 8px #e1c962, inset -5px -5px 8px #938340 !important;
  border-radius: 10px;
}

.Module2-NormalSubStyle {
  box-shadow: -5px -5px 8px #e1c962, 5px 5px 8px #938340 !important;
  border-radius: 10px;
}
/* ----------------------------------------------- */

/* Module 3 */
